<%- include('partials/header') %>
<div class="container" style="width: 30%;margin: 0 auto">
	<div class="row">
				
		<h2 class="text-center m-3" style="width:100%">Re-set Password</h2>
			
		<div class="col-sm-12 col-md-12 col-lg-12">
			<form action="/forgot" method="POST">
				<div class="form-group">
					<input class="form-control" type="email" name='email' placeholder='Enter ur email'>
				</div>
				
				<div class="form-group">
					<button class="form-conrol btn btn-primary btn-block">Re-set Password</button>
				</div>
				<a href="/blogs">Go Back</a>
			</form>
		</div>
	</div>	
</div>
<%- include('partials/footer') %>

